<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354543572787-9ie93h8va3cltleqao7ta5nqn9vpgo07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354543572787-9ie93h8va3cltleqao7ta5nqn9vpgo07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354543572787-12dt3ctfjjqj5tk9r121m0g88rr04nc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDczkCeINfCTh32kDXUHXuJPVUERd90Ezc</string>
	<key>GCM_SENDER_ID</key>
	<string>354543572787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.initialProject</string>
	<key>PROJECT_ID</key>
	<string>initialprojecttask</string>
	<key>STORAGE_BUCKET</key>
	<string>initialprojecttask.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354543572787:ios:97d43ea14d5a3d0e949046</string>
</dict>
</plist>